Targa
<input type="text" [(ngModel)]="automobile.targa">
Modello
<input type="text" [(ngModel)]="automobile.modello">
Numero Posti
<input type="text" [(ngModel)]="automobile.nposti">
<button (click)="inserisci()">Inserisci</button>
<br>
<br>
<input type="text" [(ngModel)]="ricerca">
<button (click)="cerca()">Ricerca</button>
<br>
<br>
<table>
  <tr>
    <th>Targa</th>
    <th>Modello</th>
    <th>Numero Posti</th>
  </tr>
  <tr *ngFor="let a of auto">
    <td>{{a.targa}}</td>
    <td>{{a.modello}}</td>
    <td>{{a.nposti}}</td>
    <td><button (click)="cancella(a)">X</button></td>
  </tr>
</table>